.blog__block {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog__item {
	width: 31%;
}

.blog__header {
	position: relative;
	margin-bottom: 14px;
}

.blog__photo {

}

.blog__date {
	padding: 10px 20px;
	text-align: center;
	background-color: #95e1d3;
	color: #fff;

	position: absolute;
	bottom: 10px;
	left: -10px;
	z-index: 1;
}

.blog__date-day {
	font-size: 30px;
	font-weight: 700;
	line-height: 1;
}

.blog__content {
	margin-bottom: 14px;
}

.blog__title {
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
	color: #333;

	& a {
		color: inherit;
	}

	& a:hover {
		text-decoration: underline;
	}
}

.blog__text {
	color: #999;
}

.blog__footer {
	padding-top: 14px;
	border-top: 1px solid #e5e5e5;
	color: #999;
}

.blog-stat {

}

.blog-stat__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;

	& i {
		color: #95e1d3;
		margin-right: 3px;
	}
}

@media(max-width: 768px) {
	.blog__block {
		max-width: 380px;
		margin: 0 auto;
	}

	.blog__item {
		width: 100%;
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.blog__content {
		margin-bottom: 10px;
	}

	.blog__footer {
		padding-top: 10px;
	}
}