.devices {
	padding: 80px 0 0 0;
	background: url("../images/devices-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.devices__block {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.devices__item {

}

.devices__item--ipad {
	width: 100%;
	max-width: 476px;
}

.devices__item--iphone {
	width: 100%;
	max-width: 285px;
	position: absolute;
	bottom: -100px;
	right: 0;
	z-index: 1;
}

@media(max-width: 768px) {
	.devices__block {
		max-width: 300px;
	}

	.devices__item--iphone {
		max-width: 180px;
		bottom: -50px;
		right: -80px;
	}
}

@media(max-width: 576px) {
	.devices__block {
		max-width: 200px;
	}

	.devices__item--iphone {
		max-width: 130px;
		bottom: -35px;
		right: -50px;
	}
}