.footer {
	padding: 65px 0 20px 0;
	background-color: #f8f8f8;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 65px;
}

.footer__col {

}

.footer__col--first {
	width: 40%;
}

.footer__logo {
	margin-bottom: 30px;
	font-size: 46px;
	font-weight: 700;
	color: #ccc;
}

.footer__text {
	margin-bottom: 30px;
	color: #999;
}

.footer__social {
	margin-bottom: 25px;
}

.footer__social-header {
	padding-bottom: 15px;
	font-size: 14px;
	border-bottom: 1px solid #e5e5e5;

	& b {
		font-size: 18px;
	}
}

.footer__social-content {
	padding-top: 15px;
	color: #999;

	& a {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		font-size: 18px;
		color: #95e1d3;
	}
}

.footer__title {
	font-size: 14px;
	text-transform: uppercase;
	margin: 30px 0;
}

.subscribe {
	width: 100%;
	max-width: 380px;
	display: flex;

}

.subscribe__input {
	width: 60%;
	height: 40px;
	padding: 12px;
	background: #fff;
	border: 1px solid #e7e7e7;
	border-right: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.1;
	color: #333;

	&::placeholder {
		color: #ccc;
	}

	&:focus {
		border-color: #95e1d3;
	}
}

.subscribe__btn {
	width: 40%;
	height: 40px;
	padding: 12px 30px;
	background: #95e1d3;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
	transition: background-color 0.2s linear;

	&:hover {
		background-color: #74c7b8;
	}
}



.footer__col--second {
	width: 29%;
}

.blogs {

}

.blogs__item {
	display: flex;

	margin-bottom: 30px;
}

.blogs__img {
	width: 120px;
	height: 80px;
}

.blogs__content {
	padding-left: 20px;
}

.blogs__title {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 1.4;
	color: #333;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}
}

.blogs__date {
	font-size: 13px;
	color: #999;
}



.footer__col--third {
	width: 22%;
}

.instagram {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1px;
}

.instagram__item {

}

.instagram__link {
	font-size: 12px;
	color: #999;
	margin-top: 20px;

	& a {
		color: inherit;
	}

	& a:hover {
		text-decoration: underline;
	}
}






.copyright {
	padding: 20px 0;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid #e5e5e5;

	& span {
		color: #f38181;
	}
}

