.reviews__block {
	padding: 0 110px;
	position: relative;
}

.reviews__item {
	padding-left: 205px;
	position: relative;
}

.reviews__photo {
	width: 100%;
	height: 145px;
	max-width: 145px;

	border: 3px solid #95e1d3;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reviews__text {
	margin-bottom: 15px;
	font-size: 20px;
	color: #999;
}

.reviews__author {
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 60px;
		height: 3px;
		margin-right: 10px;
		background-color: #f38181;
	}
}

.reviews__btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	font-size: 22px;
	color: #999;

	background-color: transparent;
}

.reviews__btn--prev {
	left: 0;
}

.reviews__btn--next {
	right: 0;
}

@media(max-width: 1230px) {
	.reviews__text {
		font-size: 16px;
	}

	.reviews__author {
		font-size: 20px;
	}
}

@media(max-width: 992px) {
	.reviews__block {
		padding: 0 60px;
	}

	.reviews__item {
		padding-left: 175px;
	} 
}

@media(max-width: 768px) {
	.reviews__photo {
		position: static;
		margin: 0 auto 20px;
	}

	.reviews__item {
		padding-left: 0;
	}

	.reviews__btn {
		top: 35%;
	}
}

@media(max-width: 576px) {
	.reviews__block {
		padding: 0;
	}

	.reviews__btn {
		top: 20%;
	}
}