.services__block {
	display: flex;
	flex-wrap: wrap;
}

.services__item {
	width: 33.3333%;
	margin-bottom: 40px;
	padding: 0 35px 40px 85px;
	position: relative;
}

.services__item--border {
	border-bottom: 1px solid #e5e5e5;
}

.services__icon {
	position: absolute;
	top: 5px;
	left: 28px;
	z-index: 1;
	width: 32px;
	height: 32px;
}

.services__title {
	margin-bottom: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.services__text {
	color: #999;
}

@media(max-width: 992px) {
	.services__item {
		width: 50%;
		padding-bottom: 0;
	}

	.services__item--border {
		border-bottom: 0;
	}
}

@media(max-width: 768px) {
	.services__block {
		justify-content: center;
	}

	.services__item {
		width: 100%;
		max-width: 400px;
		padding-left: 55px;
		padding-right: 0;
	}

	.services__icon {
		left: 0;
	}
}
