.statistics {
	background-color: #95e1d3;
}

.statistics__block {
	display: flex;
}

.statistics__item {
	flex: 1 1 0;
	padding: 70px 25px;
	border-left: 1px solid #b5eae0;
	text-align: center;
	color: #fff;

	&:last-child {
		border-right: 1px solid #b5eae0;
	}
}

.statistics__count {
	margin-bottom: 10px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.statistics__text {
	font-size: 14px;
	text-transform: uppercase;
}