.statistics {
	background-color: #95e1d3;
}

.stat__block {
	display: flex;
	flex-wrap: wrap;
}

.stat__item {
	flex: 1 1 0;
	padding: 70px 25px;
	border-left: 1px solid #b5eae0;
	text-align: center;
	color: #fff;

	&:last-child {
		border-right: 1px solid #b5eae0;
	}
}

.stat__count {
	margin-bottom: 10px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}

@media(max-width: 992px) {
	.stat__block {
		justify-content: center;
	}

	.stat__item {
		flex: none;
		width: 33.33333%;
		border: 0;
		padding-top: 30px;
		padding-bottom: 30px;

		&:last-child {
			border-right: 0;
		}
	}
}

@media(max-width: 576px) {
	.stat__item {
		width: 100%;
		border-bottom: 1px solid #b5eae0;

		&:last-child {
			border-bottom: 0;
		}
	}

	.stat__count {
		font-size: 52px;
	}
}