.wedo__block {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.wedo__item {
	width: 50%;
	padding: 0 15px;
}

.wedo__img {
	width: 100%;
	max-width: 570px;
}

.accordion__item {
	border: 1px solid #e5e5e5;
	margin-bottom: 10px;

	&.active .accordion__content {
		display: block;
	}

	&.active .accordion__header:after {
		transform: translateY(-50%) rotate(-45deg);
		margin-top: 5px;
	}

	&.active .accordion__header {
		border-bottom: 1px solid #e5e5e5;
	}
}

.accordion__header {
	padding: 15px 20px 15px 60px;
	border-bottom: 1px solid transparent;
	position: relative;
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		width: 16px;
		height: 16px;

		border-top: 2px solid #ccc;
		border-right: 2px solid #ccc;

		position: absolute;
		top: 50%;
		right: 20px;
		z-index: 1;

		transform: translateY(-50%) rotate(135deg);
	}
}

.accordion__icon {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 50%;
	left: 15px;
	z-index: 1;
	transform: translateY(-50%);
}

.accordion__title {
	font-size: 14px;
	text-transform: uppercase;
}

.accordion__content {
	padding: 15px 20px;
	color: #999;
	display: none;
}

@media(max-width: 768px) {
	.wedo__block {
		justify-content: center;
	}

	.wedo__img {
		margin: 0 auto;
		//display: none;
	}

	.wedo__item {
		width: 100%;
	}

	.accordion {
		margin-top: 30px;
	}
}

